.postBlock {
    border-left: 4px solid white; 
    opacity: 0.7;
}
.postBlock:hover {
    border-left: 4px solid #0066cc;
    opacity: 1;
}

img#avatar {
    border-radius: 50%;
    max-width: 100%;
}

#searchInputField {
    height: 50px;
    font-size: 20px;
}

#searchButton {
    height: 50px;
    width: 50px;
    background: #35465C;
    color: white;
}

#searchButton:hover {
    background: #5d6a7c;
    color: white;
}

#loginButton{
    background: #35465C; 
    color: white; 
    font-weight: 900;
    height: 50px;
}

#loginButton:hover {
    background: #5d6a7c;
    color: white;
}