<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/main.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <title>tumblr API App | {{ response.response.blog.title }}</title>
    </head>

    <body>
        <div class="container">
            <br>
            <div class="row">
                <a href="https://www.tumblr.com/dashboard">
                    <img src="/static/img/tumblr_logo.png" alt="tumblr" width="200">
                </a>
            </div>
            <div class="row">
                <form>
                    <br><br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-10 col-md-8">
                                <input type="text" class="form-control" id="searchInputField" 
                                placeholder="Search for tagged posts..">
                            </div>
                            <div class="col-sm-2 col-md-4">
                                <button class="btn btn-primary" type="button" id="searchButton">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
            </div>
            <div class="row">
                <div class="col-sm-8" id="results">
                    {% set blogInfo = response.response.blog %}
                    <div class="row">
                        <div class="col-sm-3">
                            <img id="avatar" src="https://api.tumblr.com/v2/blog/{{ blogInfo.name }}.tumblr.com/avatar/512">
                        </div>
                        <div class="col-sm-9">
                            <h2><a href="https://{{ blogInfo.name }}.tumblr.com" target="_blank">{{ blogInfo.name }}</a></h2>
                            <h6>{% if blogInfo.ask %} <a href="https://{{ blogInfo.name }}.tumblr.com/ask">Ask me anything</a> | {% endif %}
                                Total posts : {{ blogInfo.total_posts }}</h6>
                            <h4>{{ blogInfo.description|safe }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/app.js"></script>
    </body>
</html>